body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
label,
a {
  font-family: 'Proza Libre', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

i {
  font-size: 20px;
  color: #562b81;
}

.header-icon-placement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.fontstyle {
  font-weight: bold;
  font-size: 1.2rem;
}

.purple {
  background-color: #562b81;
}

.h1placement {
  padding-left: 12px;
}

.header-flex {
  display: flex;
  align-items: center;
  width: 826px;
  margin: 0 auto;
  justify-content: flex-start;
}

.journalhead {
  display: flex;
  align-items: center;
  height: 45px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  width: 20%;
}

.entry-form-img {
  width: 100%;
  margin-bottom: 25px;
}

.ul-entries {
  padding: 0;
}

.entries-img {
  width: 100%;
}

.inputstyle {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.delete-save-container {
  display: flex;
}

.button-new {
  display: flex;
  align-items: center;
  margin: auto 0;
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.button-save {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.delete-button-column-style {
  display: flex;
  padding: 0;
}

.button-save-column-style {
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

/* ---------------------- buttton ---------------------- */

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-text {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.modal-cancel-confirm {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.delete-button {
  color: red;
  text-decoration: underline;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.confirm-button {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.cancel-button {
  color: black;
  background-color: rgb(170, 168, 168);
  border: none;
  border-radius: 5px;
  padding: 7px 11px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 575px) {
  .journalhead {
    width: 185px;
    margin: 0;
    padding-left: 23px;
  }

  .h1placement {
    padding: 0;
  }

  .header-flex {
    width: 100%;
  }

  .button {
    padding: 5px 11px;
    font-size: 1.1rem;
  }
}
