body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
label,
a {
  font-family: 'Proza Libre', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

i {
  font-size: 24px;
  color: #562b81;
}

.fontstyle {
  font-weight: bold;
  font-size: 1.2rem;
}

.purple {
  background-color: #562b81;
}

.h1placement {
  padding-left: 12px;
}

.header-flex {
  display: flex;
  align-items: center;
  width: 826px;
  margin: 0 auto;
  justify-content: flex-start;
}

.journalhead {
  display: flex;
  align-items: center;
  height: 45px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  width: 20%;
}

.entry-form-img {
  width: 100%;
  margin-bottom: 25px;
}

.ul-entries {
  padding: 0;
}

.entries-img {
  width: 100%;
}

.inputstyle {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.button-save {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.button-new {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.button {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

@media screen and (max-width: 575px) {
  .journalhead {
    width: 185px;
    margin: 0;
    padding-left: 23px;
  }

  .h1placement {
    padding: 0;
  }

  .header-flex {
    width: 100%;
  }

  .button {
    padding: 5px 11px;
    font-size: 1.1rem;
  }
}
